<!DOCTYPE html>
<html lang="ja">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index, follow">
  <title>{{title}}</title>
  <meta name="title" content="{{title}}">
  <meta name="description" content="{{description}}">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--for IE-->
  <!-- OGP config -->
  <meta property="og:type" content="{{type}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{og_image}}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:site_name" content="{{site_name}}">
  <meta property="og:locale" content="ja_JP">
  <meta property="fb:app_id" content="1178751092332314">
  <!-- Twitter Cards config-->
  <meta name="twitter:card" content="summary"><!--大きい画像があればsummary_large_image-->
  <meta name="twitter:site" content="@">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

</head>
